# Change the extension of this file from .example to .exs
# Please add a development version of https://airtable.io 
# to your account, and create an API_KEY and BASE_ID

import Mix.Config

config :yogan_dev, Services.Airtable,
  api_key: "",
  base_id: "",
  api_url: "https://api.airtable.com/v0/"
